/* Màu nền ban đầu của nút */
button.a {
    background-color: #4CAF50; /* Màu xanh lá cây */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  /* Màu nền khi nút được chọn */
  button.a.selected {
    background-color: #f44336; /* Màu đỏ */
  }
  