*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
header{
    height: 130px;
    background-image: url(img/bg.jpg);
    width: 100%;
}
header img{
   height: 120px;
   padding-left: 20px;
}
nav{
   background-color: #333333;
}
.menu{
    list-style: none;
    display: flex;
}
.menu li{
    position: relative;
}
nav .menu li a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;

}
.ul1{
    position: absolute;
    background-color: #444444;
    list-style: none;
    padding: 0;   
    width: 220px;
    display: none;
}
nav .menu li:hover .ul1{
    display: block;
}
.menu .ul1 li a{
    border-bottom: 1px solid #535353;
    padding: 10px 15px;
}
.menu .ul1 li:hover a{
    border-bottom: 1px solid #807e7e;
    background-color: #807e7e;
}
.ul1 li:last-child a{
    border: none;
}
.menu>li>a::before{
    content: "";
    width: 0px;
    height: 4px;
    background-color: rgb(12, 158, 203);
    position: absolute;
    bottom:0px;
    left:0px;
    transition: 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu>li:hover>a::before{
    width: 100%;
}
.menu .ul1 li a::before{
    content: "";
    width: 0px;
    height: 4px;
    background-color: rgb(12, 158, 203);
    position: absolute;
    bottom:0px;
    left:0px;
    transition: 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu .ul1 li:hover a::before{
    width: 100%;
}
h3 {
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    color:rgb(2, 76, 76);
    text-transform: uppercase;
    font-weight: bold;
}
article .content{
    width: 333px;
    float:left;
    border: 2px solid rgb(1, 114, 114);
    padding: 5px;
    margin-right: 30px;
}
article .fix{
    width: 333px;
    float:left;
    border: 2px solid rgb(1, 114, 114);
    padding: 5px;
    margin-right: 0;
}
article  img{
    width: 100%;
    padding: 10px 0;
}
.art h4{
    color: orange;
    text-align: center;
}
article .text{
    font-weight: 500;
    color: black;
}
article .new .c1:hover .content{
    border: 2px solid rgb(129, 56, 1);
    background-color: aqua;
}
article .new .c1:hover .fix{
    border: 2px solid rgb(129, 56, 1);
    background-color: aqua;
}
.new0 h4{
    text-indent: 20px;
}
.new0 h3{
    font-weight: bolder;
    font-size: 24px;
  
}
p{
    display: block;
    margin: 1em;
    text-indent: 20px;
    font-size: 17px ;
   
}

.new1{
    background-color: #fafafa;
}
.new1 a{
    text-decoration: none;
}
.new1 .muc1{
    padding-left: 15px;
    
}
.new1 .muc1{
    border-bottom:1px solid #ebebeb;
}
.muc4{
    width: 70%;
}
.new1 .muc2 .muc3 img{
     width: 205px;
}
.new1 .muc2 .muc3, .muc4{
    float: left;
    padding: 15px;
}
.new1 .muc4 a:hover{
    color: rgb(255, 81, 0);
}
#a{
    font-weight: bolder;
    font-size: 18px;
}

footer{
    background-color: #fff6e9;
    width: 100%;
    margin-top: 80px;
}
footer .container2 img{
    width: 150px;
    padding-left: 30px;
}
footer .container2{
    display: flex;
    align-items:center;
    justify-content: center;
   
}
footer .fmenu{
    padding: 0 150px;
    font-weight: bolder;
    color: rgb(235, 14, 14);
    font-size: 25px;
}

.media{
    color: #402717;
    margin-bottom: 16px;
    display: inline-block;
    font-size: 25px;
}
.social{
    display: flex;
}
.social li{
    padding-right: 15px;
    list-style: none;
}
